{% load static %}
<html lang="ja">
    <head>
    	<meta charset="UTF-8">
        <title>集合MCノード名</title>
        <link rel="stylesheet" href="{% static 'ojtapp.css' %}">
    </head>
    <body>
        <div class="ex">
            あがってないと黒：<img src="{% static 'black.png' %}"><br />
            アラーム出力していると赤：<img src="{% static 'red.png' %}"><br />
            上がっているとグリーン：<img src="{% static 'green.png' %}">
            <br /><br />
            ※ここをタップで、下の画面表示
        </div>
        <table class="TD" width="1000" border="0">
            <tr>
                <td bgcolor="#c9c5c5">設定反映</td>
                <td></td>
                <td></td>
                <td></td>
                <td bgcolor="#c9c5c5">全CH盤を初期化</td>
                <td></td>
                <td></td>
                <td></td>
                <td bgcolor="#c9c5c5">全CH盤をDIP SW設定に合わせる</td>
            </tr>
        </table>
        <br /><br />
        <table class="TD" width="1000" border="1">
            <tr class="tab_color">
                <th></th>
                <th colspan="2">CTRL1</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />17</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />18</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />19</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />20</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />21</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />22</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />23</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />24</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />25</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />26</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />27</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />28</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />29</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />30</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />31</th>
                <th><a href="{% url 'switch_set' %}" style="text-decoration:none;" />32</th>
                </trclass="tab_color">
<tr>
                <th>アラーム状況</th>
                <td rowspan="3" colspan="2">●</td>
                <td>●</td>
                <td><img src="{% static 'green.png' %}"></td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
                <td>●</td>
            </tr>
            <tr>
                <th>テスト状況</th>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
            </tr>
            <tr>
                <th>スイッチ状況</th>
                <td>－</td>
                <td>有</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
            </tr>
            <tr class="tab_color">
                <th></th>
                <th>LPU</th>
                <th>RPU</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
            </tr>
            <tr>
                <th>アラーム状況</th>
                <td rowspan="3">●</td>
                <td rowspan="3">●</td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
                <td><img src="{% static 'green.png' %}"></td>
            </tr>
            <tr>
                <th>テスト状況</th>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
                <td>－</td>
            </tr>
            <tr>
                <th>スイッチ状況</th>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
                <td>有</td>
            </tr>
        </table>

        <div class="set">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>