{% block body %}
    <form method="post" action="{% url 'test3' %}">
    {% csrf_token %}
    <table width="600" border="1">
    <tr>
        <th>{{ form.lan_set.label }}</th>
        <td>
            {% for lan in form.lan_set %}
            {{ lan }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th >{{ form.alarm_off_set.label }}</th>
        <td>
            {% for alarm in form.alarm_off_set %}
            {{ alarm }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ form.rec_link_set.label }}</th>
        <td>
            {% for rec in form.rec_link_set %}
            {{ rec }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ form.send_link_set.label }}</th>
        <td>
            {% for send in form.send_link_set %}
            {{ send }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ form.rldn_link_set.label }}</th>
        <td>
            {% for rldn in form.rldn_link_set %}
            {{ rldn }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ form.rinh_link_set.label }}</th>
        <td>
            {% for rinh in form.rinh_link_set %}
            {{ rinh }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ form.RINH_set.label }}</th>
        <td>
            {% for RINH in form.RINH_set %}
            {{ RINH }}
            <br>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>{{ form.FEFI_set.label }}</th>
        <td>
            {% for FEFI in form.FEFI_set %}
            {{ FEFI }}
            <br>
            {% endfor %}
        </td>
    </tr>
    </table>
    <input type="submit" value="Set">
    </form>
{% endblock %}